.wrapper-class {
    padding: 1rem;
    border: 1px solid #efe0e0;

  }
  .editor-class{
    background-color:rgb(222, 213, 213);
    padding: 1rem;
    height: 60px;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    border: 1px solid #ccc;
    width:auto;
  
  }
.compose{
  margin-top: 5rem;
  height: 100%;
  overflow: auto;
}
